/*---- Media Queries ----*/

/*------ Tablet (Landscape) start ------*/
@media all and (max-width: 1200px) {
/* General start */ 
.page-width {
    width: calc(100% - 69px);
}
.sec-text {
	font-size: 17px;
	width: calc(100% - 116px);
}
.sec-title {
	width: 540px;
	font-size: 60px;
}
.date {
	width: calc(100% - 118px);
}
/* General end */
/* Header start */
.page-title {
	font-size: 76px;
}
.page-intro {
	font-size: 18px;
} 
/* Header end */

/* Navigation start */
nav ul li {
	font-size: 12px;
	width: 200px;
}
.social a {
	font-size: 18px;
}
/* Navigation end */ 

/*--- Navigation pages start ---*/

/* Massively start */
.massively {
	height: 3550px;
}
.sec-title-link {
	font-size: 60px;
}
.massively-banner {
	width: calc(100% - 118px);   
	height: 37vw;
}
.masgal-section {
	width: 50%;		
	height: 730px;
	padding-top: 53px;
}
.masgal-section-title a {
	font-size: 24px;
}
.masgal-section-image {
	width: 76%;
	height: 21vw;
}
.gal-text {
    font-size: 18px;
	width: 75%;
	text-align: justify;
}
/* Massively end */

/* Generic start */
.generic {
	height: 1500px;
}
.generic-banner {
	width: calc(100% - 118px);	   
	height: 37vw;
}
/* Generic end */

/* Elements start */
.elements {
	height: auto;
	padding: 50px 59px 0;
}
.fit li, .fit-small li {
	width: 48%;
}
.fit a, .fit-small a {
	width: 100%;
}
.fit li:first-child, .fit-small li:first-child {
	margin-right: 14px;
}
.image-banner {
	width: calc(100% - 118px);	   
	height: 37vw;
}
.image-banner {
	width: 100%;
}
.message-form input[type="text"] {
	margin-top: 25px;
}
.image-gallery {
	width: 100%;
}
.image-item {
	width: calc((100% - 22px) / 3);
	height: 17vw;
}	
.image-item:not(:nth-child(3n)) {
	margin-right: 11px;
}	
.preformatted {
 	padding: 20px 0 45px;
}

/* Elements end */

/*--- Navigation pages end ---*/
	
/* Footer start */
.contact-table th {
	font-size: 13px;
}
.contact-table td {
	font-size: 14px;
}
.form-item {
	width: 85%;
}
.form span {
	font-size: 13px;
}
.form-btn {
	font-size: 11px;
}
.footer-social a {
	width: 35px;
	height: 35px;
	line-height: 33px;
}
/* Footer end */

/* Copyright start */
.copyright ul li span {
	font-size: 12px;
}
.copyright ul li a {
	font-size: 12px;
}
/* Copyright end */	
}
/*------ Tablet (Landscape) end ------*/

/*------ Tablet (Portrait) start ------*/
@media all and (max-width: 992px) {
.def-text {
	width: 540px;
}
.blockquote {
	height: auto;
}
.nav-icon {
	display: block;		
}
.nav-group {
    width: 62px;    	
    height: 14px;
	line-height: 10px;
	float: right;
	color:red;    	    	    	
}
.page-intro {
	width: 700px;
}
.navigation {
	position: fixed;
	background-color: #fff;
	width: 299px;
	height: 100vh;
	padding-top: 8px;
	top: 0;
	right: 0;
	z-index: 200;
	display: none;
}
.navigation-inner {
	background-color: #fff;
}
nav ul li {
	float: none;
}
nav ul li:not(:last-child)  {
	border-bottom: 2px solid #eee;
}
.navigation li, .navigation a {
	color: #212931;
}
.close-cross {
	display: block;
}
.social {
 	margin-top: -8px;
}
.social a {
	font-size: 16px;
	margin: 0 6px;
	display: inline-block;
	width: 35px;
	height: 35px;
	line-height: 30px;
	border-radius: 50%;
	border: 2px solid #eee;
	text-align: center;
}
.massively {
	height: 3500px;
}
.footer-inner {
	height: 1130px;
}
.form {
	float: none;
	width: calc(100% - 60px);
}
.contact-table {
	width: 100%;
	height: auto;
	border-left: none;
}
.contact-table tr {
		border-top: 2px solid #eee;
}
.zip-contact {
	vertical-align: middle;
}
.zip-contact th {
	position: relative;
	top: -13px;
}
.generic {
height: 1600px;
}
.message-form input[type="text"] {
	width: calc((100% - 26px) / 2);
}	
}
/*------ Tablet (Portrait) end ------*/

/*------ Mobile start ------*/
@media all and (min-width: 320px) and (max-width: 768px) {
.containerFixed {
	width: 100%;
	margin: 0 auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.page-title {
	font-size: 50px;	
	line-height: 50px;
}
.scr-down-btn {
	display: none;
}
header {
	padding-top: 70px;
	height: auto;
}
.navigation {
	width: 70vw;
}
.social {
	margin-left: 16px;
}
.social a {
	font-size: 15px;
	width: 26px;
	height: 26px;
	line-height: 24px;
	margin: 0 4px;
}
.date span {
	padding: 0 15px;
}
.massively, .masgal-section {
	height: auto;
}
.massively {
	padding-bottom: 30px;
}
.sec-title-link {
	font-size: 40px;
}
.massiv-section-btn-wrap {
	margin-bottom: -63px;
}
.masgal-section {
	border: none;
	border-top: 2px solid #eee;
	padding-bottom: 30px;
}
.masgal-section:nth-last-child(-n+2) {
    border-bottom: none;
}
.masgal-section:nth-child(even) {
    border-left: none;
}
.masgal-section:last-child {
	border-bottom: 2px solid #eee;
}
.masgal-section-image {
	height: 47vw;
}
.sec-intro {
	font-size: 16px;
}
.sec-text {
	margin-left: 1%;
}
.gal-text {
	margin-bottom: 20px;
}
.pagination a:not(:last-child), .extra {
	display: none;
}
.pagination a {
	padding: 4px 35px;
}
/*Massively end*/

/*Generic start*/
.generic {
	height: auto;
}
.sec-title {
	font-size: 32px;
	line-height: 38px;
}
/*Generic end*/

/*Elements Reference start */
.elements {
	padding: 0;
}
.offset {
	margin-left: 11%;
}
.list {
	font-size: 14px;
	padding-left: 0;
}
.lists-appearance, .alternate {
	overflow: visible;
}
.lists-appearance .ordered .list-title {
	position: relative;
	left: -15px;
}
.lists-appearance .ordered {
    margin: 0 0 16px 18px;
}
.alternate-icons {
	margin: 25px 0;
}
.actions {
	height: auto;
}
.special li {
	margin-bottom: 15px;
}
.small li {
	margin: 0;
}
.default-small div {
	width: 100%;
}
.default-small a {
	width: 88.88889%;
}
.blockquote-inner {
	height: auto;
}
.table-element table {
	width: 88.88889%;
}
.table-element table tr {
	font-size: 12px;
}
.buttons li {
	margin-bottom: 15px;
}
.fit li:first-child,.fit-small li:first-child; {
	margin-right: 4%;
}
.fit li, .fit-small li {
	width: 42%;
}
.message-form input[type="text"] {
	width: 100%;
}
.radio-buttons label, .checkbox-buttons label {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
.image {
	width: 82%;
}
.lf-image {
	width: 40%;
	height: 20vw;
}
.preformatted {
	overflow-x: scroll;
}
/*Elements Reference end */

/*Footer start*/
.form {
	width: 100%;
	padding: 70px 0;
}
.form span {	
	margin-left: 11.1111%;
}
.contact-table th {
    padding: 0 0px 0 42px
}
.contact-table td {
	padding: 0;
}
.footer-social a {
	width: 28px;
	height: 28px;
	line-height: 26px;
	font-size: 13px;
	margin-right: 9px;	
}
/*Footer end*/

/*Copyright start*/
.copyright ul li:not(:last-child) {
	border-right: none;
}
.copyright ul li {
	display: block;
	line-height: 22px;
}
.copyright ul li span, .copyright ul li a {
	font-size: 15px;	
}
/*Copyright end*/ 
.mob-1 {
	width: 11.11%
}
.mob-2 {
	width: 22.22%;
}
.mob-3 {
	width: 33.33%;
}
.mob-4 {
	width: 44.44%
}
.mob-5 {
	width: 55.56%;
}
.mob-6 {
	width: 66.67%;
}
.mob-7 {
	width: 77.78%;
}
.mob-8 {
	width: 88.89%;
}
.mob-9 {
	width: 100.00%;
}
[class*="mob-"] {
    float: left;       
}
.mob-1-offset {
    margin-left: 11.11111%;
}
.mob-2-offset {
	margin-left: 22.22222%;
}
.mob-3-offset {
	margin-left: 33.33333%;
}
.mob-4-offset {
	margin-left: 44.44444%;
}
.mob-5-offset {
	margin-left: 55.55556%;
}
.mob-6-offset {
	margin-left: 66.66667%;
}
.mob-7-offset {
	margin-left: 77.77778%;
}
.mob-8-offset {
	margin-left: 88.88889%;
}
.mob-9-offset {
	margin-left: 100.00%;
}
}
/*------ Mobile end ------*/